
#principal{
    background: url("Estadio_Futbol.jpg");
    height: 90.9vh;
    background-size: cover;
    background-position: center;
}

header{
    color: white;
    text-align: center;
}

p{

    background: #1d1e1f;
    color:#ebebeb;
    font-weight: bold;
}

h4{
    margin-bottom: 0%;
    background: #1d1e1f;
    color:#dddddd;
    font-weight: bold;
}

#tabla{
    background: url("LigaMX.jpg");
    height: 65vh;
    background-size: cover;
    background-position: center;
}

